.compact-select {
    height: calc(1.5em + 0.5rem + 2px); /* match input height */
    padding: 0.25rem 0.5rem;
}



.rubvar-grid td:nth-child(2) {
    width: 50% !important;
}

.custom-flex-column {
    display: flex;
    flex: 0 0 20%;
}

.custom-column {
    width: 20%;
}
