@page "/testmail"
<h3>TestMail</h3>

@using GxTie.Services
@using GxShared.ShdServices
@using GxShared.Others

@inject HttpClientService _clieManager
@inject IHttpClientFactory _httpClientFactory

<div class="d-flex gap-2 justify-content-end">
     <Button Color="ButtonColor.Primary"
        @onclick="EnvoieMail">
             Envoie Test                
     </Button>
</div>

@code {
    private HttpClient _dftClient;
    private bool _yaconn = false;
    private bool isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        _dftClient = _httpClientFactory.CreateClient("AUTHClient");
        //verified connection
        try
        {
            Console.WriteLine($"adresse : {_dftClient.BaseAddress.ToString()}");
            var response = await _dftClient.GetAsync("lgauth/health");
            _yaconn = response.IsSuccessStatusCode;
        }
        catch (Exception ex)
        {
            isLoading = false;
            return;
        }
    }
    private async Task EnvoieMail()
    {
        try
        {
            string inviteMessage = "Bienvenue au Test de Brevo Mail";
            
            RegisterDto rDto = new();
            rDto.Idorg = 10001; //test
            rDto.Email = "a24soft@gmail.com";
            rDto.Username = "ajesuis";
            rDto.PhoneNumber = "23553353";
            rDto.Nom = "Sawadogo";
            rDto.Pnom = "Martin";
            rDto.EmType = EmailType.Notification;
            rDto.Brevman = new();
            rDto.Brevman.Add(new BrevoRecipient
            {
                Email = "a24soft@gmail.com",
                Name = "ajesuis"
            });
            
            var response = await _clieManager.SendRequestAsync(
                "AUTHClient",
                HttpMethod.Post,
                "usercontext/generate-invite",
                rDto);
        }
        catch (Exception)
        {
            isLoading = false;
        }
    }
    // private async Task PrepareInviteEmailForApi(int gpe)
    // {
    //     //gpe = individuel/groupe
    //     bool IsErrors = await VerifInputs();
    //     if (IsErrors)
    //     {
    //         Imessage += "Echec Generation : des issues persistent...";
    //         StateHasChanged();
    //         return;
    //     }
    //     var sndModel = ModelHelper.MapTo<UsrOgSetModel, RegisterDto>(_invModel);
    //     var inpUrl = _dftClient.BaseAddress?.ToString().TrimEnd('/');
    //     if (!inpUrl.StartsWith("http", StringComparison.OrdinalIgnoreCase))
    //         inpUrl = "https://" + inpUrl;
    //     inpUrl = inpUrl.TrimEnd('/');
    //     inpUrl = inpUrl + "/usercontext/generate-invite";
    //     // Replace with gxadm subdomain
    //     var gxadmUrl = UrlParser.ReplaceWithSubdomain(inpUrl, "gxadm"); // → https://gxadm.a24soft.com
    //     // Fill RegisterDto fields
    //     sndModel.Idorg = curOrga.Idorg;
    //     sndModel.Orig = 2;
    //     sndModel.Toqui = _invModel.Irole; // 1.std / 2.hlp / 3.own
    //     sndModel.Utyp = _invModel.Utyp;
    //     sndModel.FbackUrl = gxadmUrl;
    //     sndModel.WebUrl = curOrga.Weburl; //UrlParser.ReplaceWithSubdomain(inpUrl, "gxadm");
    //     sndModel.Email = _invModel.Email;       // must be set
    //     sndModel.Username = "";     // not yet set
    //     sndModel.Nom = _invModel.Nom;
    //     sndModel.Pnom = _invModel.Pnom;
    //     sndModel.Rtype = EmailType.Invite;
    //     //verification
    //     Console.WriteLine($"Url Api pour invite : {inpUrl} et {gxadmUrl}");
    //     // POST to API
    //     var response = await _dftClient.PostAsJsonAsync(inpUrl, sndModel);

    //     if (response.IsSuccessStatusCode)
    //     {
    //         //Imessage = "Invitation generated and email sent.";
    //     }
    //     else
    //     {
    //         //Imessage = await response.Content.ReadAsStringAsync();
    //     }
    //     StateHasChanged();
    // }
}