<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ManifestRewrite" stopProcessing="true">
          <match url="^manifest\.webmanifest$" />
          <!-- Placeholder token -->
          <action type="Rewrite" url="/__DeployIisAppPath__/manifest.webmanifest" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
  </system.webServer>
</configuration>