@page "/parentform"

<!-- Components/ParentForm.razor -->
<EditForm Model="@Model" OnValidSubmit="@OnSave">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="Model.Name" class="form-control" placeholder="Parent Name" />

    <div class="mt-2">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-secondary" type="button" @onclick="OnReset">Reset</button>
    </div>
</EditForm>

@code {
    [Parameter] public ParentDto Model { get; set; } = new();
    [Parameter] public EventCallback OnSave { get; set; }
    [Parameter] public EventCallback OnReset { get; set; }
}
