@page "/ownerpage"

@using GxAdm.Profile

<h3>OwnerPage</h3>
<Tabs>
    <Tab Title="Profile" Icon="person-circle">
        <Content>
            <UserPage />
        </Content>
    </Tab>
    <Tab Title="Creation" Icon="people-circle">
        <Content>
            <OrgCreate />
        </Content>
    </Tab>
    <Tab Title="Suppression" Icon="people-circle">
        <Content>
            <OrgDelete />
        </Content>
    </Tab>
</Tabs>

@code {

    //installer/supprimer plus
    //inviter admin
    //inviter support
}
