@page "/ownerpage"

@using GxAdm.Profile
@using GxAdm.Components.Admina

<h3>OwnerPage</h3>
<Tabs>
    <Tab Title="Profile" Icon="person-circle">
        <Content>
            <UserPage />
        </Content>
    </Tab>
    <Tab Title="Journal" Icon="people-circle">
        <Content>
            <AdmFlow />
        </Content>
    </Tab>
</Tabs>

@code {

    //installer/supprimer plus
    //inviter admin
    //inviter support
}
