@page
@model GxWapi.Areas.Identity.Pages.Account.RegisterSuccessModel
@{
    ViewData["Title"] = "Register Succeeded";
}

<h1>@ViewData["Title"]</h1>

<partial name="_StatusMessage" model="Model.StatusMessage" />
