@page "/resendconfmail"

@using System.ComponentModel.DataAnnotations
@using GxPilo.Services
@using GxShared.ShdServices
@using GxShared.Sess

@inject NavigationManager _navManager
@inject HttpClientService _clieManager
@inject SessionContextService _sessionContext

<h3>Resend Confirmation Email</h3>
<EditForm Model="@model" OnValidSubmit="HandleResend">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Email address</label>
        <InputText class="form-control" @bind-Value="model.Email" />
    </div>

    <button class="btn btn-primary" disabled="@isLoading">
        @if (isLoading)
        {
            <span>Sending...</span>
        }
        else
        {
            <span>Resend confirmation email</span>
        }
    </button>
</EditForm>

@if (!string.IsNullOrEmpty(Imessage))
{
    <div class="alert alert-info mt-3">
        @Imessage
    </div>
}

@code {
    private InviteRequest model = new();
    private bool isLoading = false;
    private string? Imessage;

    //GlobModels
    public Userbag _usrBag = new Userbag();

    protected override async void OnInitialized()
    {
        // 2. Load user context
        _usrBag = await _sessionContext.GetUserbagAsync();
        if (_usrBag == null)
        {
            Imessage = "❌ Session utilisateur invalide";
            return;
        }
        model.Idorg = _usrBag.Idorg;
    }
    private async Task<bool> HandleResend()
    {
        isLoading = true;
        try
        {
            //non applicable;
            model.Ivrole = 2; //owner
            model.Srole = "Owner";
            // ✅ Update client headers
            await _clieManager.SetAuthorizationHeaderAsync("AuthClient");
            // Load user context
            var response = await _clieManager.SendRequestAsync("AuthClient", HttpMethod.Post, "regis/resendconfirm", model);
            // if (!response.IsSuccessStatusCode)
            // {
            //     var errorContent = await response.Content.ReadAsStringAsync();
            //     Imessage = $"Failed: {response.StatusCode} - {errorContent}";
            //     return false;
            // }
            Imessage = "Resend SUCCES";
        }
        catch
        {
            Imessage = "An error occurred. Please try again later.";
            return false;
        }
        finally
        {
            isLoading = false;
        }
        return true;
    }   
}
