@* @using GxTie.Services

<InputText @bind-Value="Value"
           @onblur="Validate"
           class="@CssClass" />

@if (!IsValid)
{
    <div class="text-danger">@ErrorMessage</div>
}

@code {
    [Parameter] public string Value { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    [Parameter] public EventCallback<object> OnValidInput { get; set; }
    [Parameter] public EventCallback<bool> OnValidationStateChanged { get; set; }

    [Parameter] public int Atyp { get; set; } = 1;
    [Parameter] public string ErrorMessage { get; set; } = "Invalid input";

    protected bool IsValid { get; set; } = true;
    protected string CssClass => IsValid ? "form-control" : "form-control is-invalid";

    protected async Task Validate(FocusEventArgs args)
    {
        var (result, success) = Value.ConvertUserInputSafe(Atyp);
        IsValid = success;

        await OnValidationStateChanged.InvokeAsync(success);

        if (success)
            await OnValidInput.InvokeAsync(result);

        await ValueChanged.InvokeAsync(Value);
    }
} *@