@page "/agenda"
<PageTitle>Agenda</PageTitle>

<h2>Hello, world!</h2>

<div class="alert alert-warning" role="alert">
    <h2>Bienvenue sur Gx-Solutions : une solution aux problemes de gestion.</h2>
    <h3>Vous etes sur la page AGENDA de Gx-Solutions, en construction...</h3>
</div>
