@page "/"

<PageTitle>Home</PageTitle>

<h2>Welcome!</h2>

<div class="alert alert-warning" role="alert">
    <h2>Bienvenue sur Gx-Solutions : une solution aux problemes de gestion.</h2>
    <h3>Vous etes sur la page PILOTAGE de Gx-Solutions</h3>
</div>

