@page "/registersuccess"
<h3>Register Success</h3>

<h3>Votre enregistrement a reussi.</h3>
<h4>un email vous a ete envoye pour CONFIRMATION</h4>
<h3>veuillez y repondre en cliquant sur le lien envoye</h3>
@code {

}
