@page "/items"

@using GxStk.Services
@using GxShared.GxDtos
@using GxShared.Sess
@using Simple.OData.Client
 
@* @inject ItemClientService ItemService *@

<h3>Items</h3>

@if (DaItems == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in DaItems)
            {
                <tr>
                    <td>@item.Zcod</td>
                    <td>@item.Liba</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    
    [Parameter] 
    public GxorgaDto curOrga { get; set; }
    [Parameter] 
    public List<Gpdivh> LsDivs { get; set; }
    [Parameter]
    public IODataClient _InODaClient { get; set; }

    private List<StkituDto>? DaItems;

    protected override async Task OnInitializedAsync()
    {
        DaItems = curOrga.Stkitus.ToList();
    }
}
