@inherits LayoutComponentBase

<div class="container-fluid p-0 m-0">
    @Body
</div>
@* 
<style>
    .free-layout-container {
        margin: 0;
        padding: 0;
        width: 100vw; /* full viewport width */
        max-width: 100%;
    }
</style> *@

