@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="d-flex border-0 bg-success bg-opacity-10">
            <div class="me-auto p-2 border-0">
                <a class="nav-icon btn-like bg-success bg-opacity-25" @onclick="ToggleUserMenu" href="#">
                    <i>PrivateRoom</i>
                </a>
                <label>Aide ?</label>
            </div>
            <div class="p-2">
                Bienvenue &nbsp;<b>@context.User.Identity?.Name</b>. <a href="logout"><span class="bi bi-door-closed-fill" aria-hidden="true" style="vertical-align:middle"></span> Logout</a>
            </div>
        </div>
        @* Bienvenue, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button> *@
    </Authorized>
    <NotAuthorized>
        <div class="top-row px-4">
            <a href="login"><span class="bi bi-door-open" aria-hidden="true" style="vertical-align:middle"></span> Login</a>
            <!-- <a href="register"><span class="bi bi-pencil-square" aria-hidden="true" style="vertical-align:middle"></span> Register</a> -->
        </div>
        @* <a href="authentication/login">Log in</a> *@
    </NotAuthorized>
</AuthorizeView>

@code{
    private bool collapseUserMenu = false;

    [Parameter]
    public bool VisibleProfil { get; set; }
    private void ToggleUserMenu()
    {
        collapseUserMenu = !collapseUserMenu;
    }
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
