@page "/testselected"
@using GxTie.Components.FrmHelper
@using GxShared.Others

<h3>SelectedDisplay Test</h3>

<SelectedDisplay TValue="int?"
                 @bind-Value="SelectedStatut"
                 isEditing="@isEditing"
                 Options="FakeOptions"
                 GetOptionValue="ResponValue"
                 GetOptionLabel="ResponLabel" />

<p>Current Value: @SelectedStatut</p>
<button @onclick="ToggleEdit">Toggle Edit</button>

@code {
    private int? SelectedStatut = 1;
    private bool isEditing = true;
    private List<Gptbl> FakeOptions = new()
{
    new Gptbl { Pxcod = 17, Elea = 1, Abg = "FR", Liba = "France" },
    new Gptbl { Pxcod = 17, Elea = 2, Abg = "BF", Liba = "Burkina Faso" },
    new Gptbl { Pxcod = 17, Elea = 3, Abg = "US", Liba = "United States" }
};


    private readonly Func<Gptbl, int?> ResponValue = g => g.Elea ?? 0;
    private readonly Func<Gptbl, string> ResponLabel = g => g.Liba ?? "";

    private void ToggleEdit() => isEditing = !isEditing;
}
