@using System.Security.Authentication
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Blazored.LocalStorage
@using GxTie.Services
@using GxShared.Sess

@inject SessionContextService _sessionContext
@inject IConfiguration _iconfig
@inject NavigationManager _navManager
@inject ILocalStorageService _localStorage

<nav class="d-flex flex-row bg-warning bg-opacity-25 mb-3">
    @foreach (var ipge in new[] { "Manage", "Manage/ChangePassword", "Manage/TwoFactor", "Manage/PersonalData" })
    {
        <NavLink class="nav-link nav-sub text-primary" @onclick="() => NavigateToIdentityPage(ipge)">
            @ipge
        </NavLink>
    }
</nav>
@code {
    private bool isLoading = false;
    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    public ClaimsPrincipal authUser;
    public bool isAuthenticated = false;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();
    
    private Userbag _usrBag;

    //Test
    int xiqmax = 2, xothogs = 2;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        var authState = await AuthState;
        authUser = authState.User;
        isAuthenticated = authUser.Identity.IsAuthenticated;
        if (!isAuthenticated)
        {
            Console.WriteLine("Authentication in Astreintes Utilisateur ECHEC");
            return;
        }
        else
        {
            Console.WriteLine("Authentication in Astreintes SUCCESS");
        }
        _usrBag = await _sessionContext.GetUserbagAsync();
        if (AuthState == null)
        {
            return;
        }

        _claims = authUser.Claims;
   
    }

    private async Task NavigateToIdentityPage(string page)
    {
        // Get token from localStorage
        var token = await _localStorage.GetItemAsync<string>("blazToken");
        if (string.IsNullOrWhiteSpace(token))
        {
            Console.WriteLine("No token found — skipping session sync.");
            return;
        }
        var backendUrl = _iconfig["backendUrl"];
        var targetUrl = $"{backendUrl}/Identity/Account/{page}?access_token={token}";
        _navManager.NavigateTo(targetUrl, forceLoad: true);
    }
}
