@using System.Security.Authentication
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using GxAdm.Profile
@using GxAdm.Services
@using GxShared.Sess

@inject SessionContextService _sessionContext

<div class="d-flex flex-row bg-warning bg-opacity-25 mb-3">
    <Tabs>
        <Tab title="Profil" Active="true">
            <Content>
                <UserPage />
            </Content>
        </Tab>
        <Tab title="Compte">
            <Content>

            </Content>
        </Tab>
        <Tab title="Preferences">
            <Content>

            </Content>
        </Tab>
        <Tab title="Activites">
            <Content>

            </Content>
        </Tab>
        @if (isOwner)
                {
                    @if (xiqmax > 1)
                {
                @attribute [Authorize(Roles = "Admin")]
                    <Tab Title="Creation">
                        <Content>
                            <OrgCreate></OrgCreate>
                        </Content>
                    </Tab>
                }
                    @if (xothogs > 1)
                {
                @attribute [Authorize(Roles = "Admin")]
                    <Tab Title="Suppression">
                        <Content>
                            <OrgDelete></OrgDelete>
                        </Content>
                    </Tab>
                }
           }
    </Tabs>
</div>
@code {
    private bool isLoading = false;
    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
    public bool isOwner = false;
    public ClaimsPrincipal authUser;
    public bool isAuthenticated = false;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();
    
    private Userbag _usrBag;

    //Test
    int xiqmax = 2, xothogs = 2;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        var authState = await AuthState;
        authUser = authState.User;
        isAuthenticated = authUser.Identity.IsAuthenticated;
        if (!isAuthenticated)
        {
            Console.WriteLine("Authentication in Astreintes Utilisateur ECHEC");
            return;
        }
        else
        {
            Console.WriteLine("Authentication in Astreintes SUCCESS");
        }
        _usrBag = await _sessionContext.GetUserbagAsync();
        if (AuthState == null)
        {
            return;
        }

        _claims = authUser.Claims;
        var uoan = _claims.FirstOrDefault(c => c.Type == "Gx.IsOwner")?.Value;
        isOwner = false;
        if (uoan == "1") isOwner = true;


    }
}
