@if (IsVisible)
{
    <div class="row mb-2">
        <label class="@LabelClass col-@(LabelColSpan) col-form-label text-nowrap fw-bold">@Label:</label>
        <div class="@ContentClass col">
            @ChildContent
        </div>
    </div>
}

@code {
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public bool IsVisible { get; set; } = true;
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public string LabelClass { get; set; } = "col-md-3";
    [Parameter] public string ContentClass { get; set; } = "";
    [Parameter] public string LabelColSpan { get; set; } = "md-3";
}

