.compact-select[b-thn665js7k] {
    height: calc(1.5em + 0.5rem + 2px); /* match input height */
    padding: 0.25rem 0.5rem;
}



.rubvar-grid td:nth-child(2)[b-thn665js7k] {
    width: 50% !important;
}

.custom-flex-column[b-thn665js7k] {
    display: flex;
    flex: 0 0 20%;
}

.custom-column[b-thn665js7k] {
    width: 20%;
}
